$primary-color: #2786e8;
$second-color: #51C5E4;
$third-color: #101f78;


* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

.center{
  align-items: center;
  justify-content: center;
}

.align-center{
  align-items: center;
}

.container{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .input{
    width: 300px;
    border: 1px solid $primary-color;
    border-radius: 20px;
  }

  .input:hover{
    border: 1px solid $second-color;
  }

  .btn{
    border-radius: 20px;
    border: 1px solid $third-color;
    background-color: $primary-color;
    color: white;
    padding: 0 30px;
    margin-top: 5px;
  }

  .btn:hover{
      background-color: $second-color;
      color: white;
      border: 1px solid $third-color;
  }

  h2{
    color: $third-color;
    font-size: 25px;
    font-weight: 550;
  }
}

.dashboard-box-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dashboard-box{
  display: flex;
  align-items: center;
  background-color: $third-color;
  color: white;
  padding: 50px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 50px;
  transition: all .45s;
}

.dashboard-box:hover{
  transform: scale(1.03);
}

.dashboard-box-txt{
  color: white;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.dashboard-txt{
  color:$third-color;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-top: 20px;
}

td, th {
  border: 1px solid $primary-color;
  text-align: left;
  padding: 8px;
}

.search-input{
  margin-top: 15px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
  display: flex;
  list-style: none;
}

.pagination {
  margin-top: 20px;
  li {
    a {
      border: none;
      min-width: 30px;
      min-height: 30px;
      color: rgb(181, 172, 172);
      margin: 0 2px;
      line-height: 30px;
      border-radius: 2px !important;
      text-align: center;
      padding: 6px 6px;
      font-size: 16px;
    }

    a:hover {
      color:$third-color;
    }	   
  }

  li.disabled{
    a{
      color: rgb(223, 221, 221);
      cursor: not-allowed;
    }
  }

  li.active{
    a{
	    background: $primary-color;
    }

    a.page-link{
	    background: $primary-color;
    }

    a:hover{
	    background: $primary-color;

    }
  }

}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-loader {
  border: 3px solid #f1f1f1;
  border-top: 3px solid $primary-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media  (max-width:850px) {
 

  .dashboard-txt{
      margin-top: 20px;
      font-size: 20px;
  }

  .dashboard-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .dashboard-box{
      width: 90%;
      padding: 35px;
    }

    .dashboard-box-txt{
      font-size: 18px;
    }

    .dashboard-icon{
      font-size: 25px;
    }

  }
  
}